<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="GreenKart Suite">
    <test name="End to End">
        <classes>
            <class name="GreenKartTests.EndToEndTests"></class>
            <class name="GreenKartTests.HomePageTest"></class>
        </classes>
      </test>
</suite>













